*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00828c;
    color: white;
}

.logo{
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.member, .login, .signup, .home, .contact {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.signup{
    border: 1px solid yellow;
    border-radius: 5px;
}

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 780px) {
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #005469;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .member, .login, .signup, .home, .contact{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .signup {
        border: none;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #00828c;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}